# =============================
# MySQL 設定（各自で値を設定してください）
# =============================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# =============================
# phpMyAdmin 設定
# =============================
PMA_HOST=mysql
PMA_USER=
PMA_PASSWORD=

# =============================
# Next.js 設定
# =============================
NEXT_PUBLIC_API_URL=http://localhost:80